<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/images/logo/boldtechlogo2.png" alt="" width="40" height="40"
            class="d-inline-block align-text-top">Subscribe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="payments">Payments</a>
                </li>
                
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <b>
                            <%=user.username%>
                        </b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <%if(user.isAdmin) {%>
                            <li><a class="dropdown-item" href="#" type="button" onclick="addUser()">Add User</a></li>
                            <%}%>                                
                                <li><a class="dropdown-item" href="#" type="button" onclick="changePassword()">Change password</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#" type="button" onclick="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
           
        </div>
    </div>
</nav>

<!--  =====================Add User modal interface section here ============== -->

<div class="modal" tabindex="-1" id="addUser-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="create-user" action="" method="post">
                    <div id="form-error"></div>
                    
                    <div id="name-group" class="form-group my-3">
                        <input class="form-control" type="text" name="name" id="name" placeholder="Name"
                            required>
                    </div>
                    <div id="username-group" class="form-group my-3">
                        <input class="form-control" type="text" name="username" id="username" placeholder="Username"
                            required>
                    </div>

                    <div id="password-group" class="form-group my-3">
                        <input class="form-control" type="text" name="password" id="password"
                            placeholder="Password" required>
                    </div>

                    <div id="isAdmin-group" class="form-group my-3">
                        
                        <select class="form-control" name="isAdmin" id="isAdmin">
                            <option value="">Select Role</option>
                            <option value="true">Admin</option>
                            <option value="false">Non-Admin</option>
                        </select>
                    </div>

                    <div>
                        <input class="btn btn-primary" type="submit" value="Save">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<!--  =====================Change password modal interface section here ============== -->

<div class="modal" tabindex="-1" id="changePassword-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="change-password" action="" method="post">
                    <div id="alert-success" class="alert-success"></div>
                    <div id="alert-danger" class="alert-danger"></div>

                    <div id="name-group" class="form-group my-3">
                        <input class="form-control" type="text" name="old-password" id="old-password" placeholder="Old Password" required>
                    </div>
                    <div id="username-group" class="form-group my-3">
                        <input class="form-control" type="password" name="new-password" id="new-password" placeholder="New Password"
                            required>
                    </div>

                    <div id="password-group" class="form-group my-3">
                        <input class="form-control" type="password" name="repeat-password" id="repeat-password" placeholder="Repeat Password"
                            required onkeyup="checkPassword()">
                        <span id="match" class="alert-success" style="display: none; font-size: 12px;"><p>Match</p></span>
                        <span id="no-match" class="alert-danger" style="display: none; font-size: 12px;">
                            <p>Passwords do not match</p>
                        </span>
                    </div>                    

                    <div>
                        <input id="cp-btn" class="btn btn-primary" type="submit" value="Save">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>